<style>
</style>
<head>
	<h1> Math Flakes for Breakfast </h1>
</head>
<menu type="context" id="mainmenu">
    <menuitem label="home" onclick="window.location.reload();location.href='/'">
        Home
    </menuitem>
    <menuitem label="flakes_game" onclick="window.location.reload();location.href='/flakes/'">
        Flakes
    </menuitem>
    <menuitem label="formulas" onclick="window.location.reload();location.href='/formulas/'">
        Formulas
    </menuitem>
</menu>
<body>
</body>
<footer>
</footer>